<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <ul class="right hide-on-med-and-down">
        <li><a href="#">About</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">About</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="section no-pad-bot" id="index-banner">

    <div class="container">
      <h1 class="header center orange-text">Time to Dollars</h1>
      <div class="row center">
        <h5 class="header col s12 light">Easily convert time to dollars based on your hourly rate</h5>
      </div>

    </div>
  </div>


  <div class="container">

    <div class="section">

      <div id="app">
      </div>

    </div>
  </div>

  <footer class="page-footer orange">
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="https://github.com/erkarl">Karl Ranna</a>
      </div>
    </div>
  </footer>
  </body>
</html>
